* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: red;
}

ul, ol, li {
  list-style: none;
}

/**
 * 全局淡出效果
 */
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
